.dog-filter{
    display: grid;
    grid-template-columns: 100%;
    margin: 18px 0px;
    background-color: rgb(68, 68, 68);
    border: 1px solid white;
    padding: 4px;
    border-radius: 8px;
    text-align: start;
    > h2 {
        font-size: 1.2rem;
        border: 1px solid white;
        margin: 0px;
        border-radius: 4px 4px 0px 0px;
    }
    > p {
        margin: 0px;
        font-size: 1.2rem;
        border: 1px solid white;
        padding-inline: 4px;
    }
    > p:nth-last-child(1) {
        border-radius: 0px 0px 4px 4px;
    }
    
}


.dog-filter:hover {
    background-color: rgb(106, 106, 106);
}

.input-search-dog{
    height: 24px;
    margin: 4px;
    border-radius: 6px;
}
.input-search-dog:focus {
    background-color: rgb(113, 105, 116);
}

.resultados-search{
    margin: 0px;
}

.imagen-dog-search {
    border-radius: 50%;
    margin: auto;
}