.pageAltaDog{
    margin: auto;
    margin-top: 40px;
    width: 90dvw !important;
}

.allArea-altaDog {
    background-color: rgb(86,37,25);
    padding: 6px 18px;
    border-radius: 10px;
    margin-inline: 20px;
}
.form-alta-dog{
    display: grid;
    grid-template-columns: 100%;
    gap: 6px;
    width: 95%;
    margin: auto;
    font-size: 1.2rem !important;
    > input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    > input, textarea {
        font-size: 1.2rem;
        background-color: rgb(186, 80, 53);
    }
    > input:focus, textarea:focus {
        background-color: rgb(215, 133, 133);
    }
    > input::placeholder {
        color: rgb(244,232,208);
    }
    > input:not(:placeholder-shown) {
        background-color: rgb(118, 51, 34);
    }
    > input:hover, textarea:hover {
        background-color: rgb(147, 81, 81) !important;
        cursor: pointer;
    }
    > button {
        line-height: 16px;
    }
    > select {
        height: 32px;
        background-color: rgb(186, 80, 53);
        color: rgb(244,232,208);
        font-size: 1rem;
    }
    > h2 {
        margin-bottom: 0px !important;
        background-color: red !important;
    }
}

.select-option{
    line-height: 16px !important;
    background-color: rgb(186, 80, 53);
    color: rgb(244,232,208);
    text-align: start;
    > :not(hover) {
        color: rgb(244,232,208) !important;
        background-color: rgb(186, 80, 53);
    }
}
#react-select-3-placeholder, #react-select-5-placeholder{
    color: rgb(244,232,208);
}
.imageUp{
    background-color: black !important;
    color: white;
}
/* input[type="file"]{
    background-color: red;
} */
.title-alta-dog {
    margin-bottom: 0px;
    color: rgb(158, 158, 158);

}

.subtitle-alta-dog{
    margin: 0px 0px 5px 0px;
    color: rgb(182, 182, 182);
}

.descriptionUpDog{
    color: rgb(244,232,208) !important;
}
textarea::placeholder {
    color: rgb(182, 182, 182);
}

.btn-up-dog{
    margin: 10px auto;
    background-color: rgb(28, 100, 28);
}