.dog-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 0px 0px 0px;
}

.avatar-dog {
    border-radius: 50%;
}

.dog-element-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 108px;
    height: 260px;
    overflow: hidden;
    margin: 8px;
    padding: 4px;
    border: 1px solid rgb(133, 36, 36);
    box-shadow: 5px 5px 5px 0px rgba(89, 18, 18, 0.89);
    background-color: rgb(250,188,129);
    border-radius: 10px;
    > h3 {
        margin: 0;;
    }
    > p {
        margin: 0px 0px 16px 0px;
    }
    > button {
        margin: 2px;
        font-size: 0.7rem;
        width: 90px;
    }
}
.dog-element-list:hover {
    cursor: pointer;;
    background-color: rgb(192, 48, 48);
    color: rgb(244,232,208);
    box-shadow: 0px 0px 10px 5px rgb(117, 96, 87);
    > button:hover {
        background-color: rgb(213, 138, 138);
    }
}

.loader {
    display: inline-flex;
    align-items: center;
    column-gap: 5px;
    gap: 2px;
}

.loader-loading {
    display: inline-block;
    font-size: 1rem;
    width: 16px;
    height: 12px;
    background-color: #e8e7e712;
    border-radius: 50%;
    animation: scale-up 1650ms var(--d) linear infinite;
}

@keyframes scale-up {
    25% {
        color: rgb(20, 20, 20);
        opacity: 1;
        scale: 1.5;
    }
    50% {
        scale: 1;
    }
}