/* Para borrar */
.btn-momentaneo{
    margin: 10px;
}
/* ---------------- Public ---------------- */
.home-public{
    display: flex;
    flex-direction: column;
    align-items: center;
    > h2 {
        margin: 0px;
    }
    > p {
        width: 70%;
    }
    > article {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.2rem;
        flex-shrink: 2;
        margin-block: 20px;
        > h4 {
            margin: 0;
            padding-inline: 5px;
            display: flex;
            flex-shrink: 1;
            width: fit-content;
            border-radius: 10px;
            background-color: rgb(89, 151, 205);
            color: rgb(9,81,153);
        }
        > h5 {
            display: flex;
            flex-direction: column;
            flex-shrink: 2;
        }
    }
}

.peluPrevLink{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    font-size: 2rem;
    color: black;
    font-weight: 600;
}
.peluRealLink{
    > a {
        color: black;
        font-weight: 600;
        line-height: 40px;
    }
    > a:hover {
        cursor: pointer;;
    }
}
.home-link-pelu {
    background-image: url('../assets/images/lenguaAfuera.png');
    width: 100dvw;
    height: 240px;
    display: grid;
    place-content: center;
    transition: 0.4s;
}






/* ---------------- Admin ---------------- */
.links-to-dogs{
    display: grid;
    gap: 20px;
    border: 1px solid white;
    place-content: center;
    padding: 20px;
    border-radius: 10px;
    width: fit-content;
    background-color: rgba(128, 128, 128, 0.62);
    > h2 {
        margin: 0px;
    }
}
.btn-opt {
    width: 100%;
    text-align: start;
    > .btn-opt:hover {
        background-color: red;
    }
}
