/* Para borrar */
.btn-momentaneo{
    margin: 10px;
}
/* ---------------- Public ---------------- */
.home-public{
    display: flex;
    flex-direction: column;
    align-items: center;
    > h2 {
        margin: 0px;
    }
    > p {
        width: 70%;
        font-weight: 500;
    }
    > article {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.2rem;
        flex-shrink: 2;
        margin-block: 20px;
        > h4 {
            margin: 0;
            padding-inline: 5px;
            display: flex;
            flex-shrink: 1;
            width: fit-content;
            border-radius: 10px;
            background-color: rgb(89, 151, 205);
            color: rgb(9,81,153);
        }
        > h5 {
            display: flex;
            flex-direction: column;
            flex-shrink: 2;
        }
    }
}
.peluPrevLink , .tiendaPrevLink {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    > h3 {
        margin: 0 0 10px 0;
        animation: clickMoveH3 2.5s linear infinite;
    }
}
.peluPrevLink{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    font-size: 2rem;
    color: rgb(43, 43, 42);
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s;
}
.peluPrevLink:hover{
    scale: 1.2;
}
.peluRealLink{
    > .aToPelu {
        color:rgb(43, 43, 42) !important;
        font-weight: 600;
        line-height: 40px;
    }
    > aToPelu:hover {
        cursor: pointer;;
    }
}
.fondo-linkPelu{
    position: absolute;
    background-image: url('../assets/images/peluPrev.jpeg');
    background-position: center;
    background-size: cover;
    width: 100dvw;
    height: 240px;
    filter: blur(6px);
    z-index: -1;
}

.home-link-pelu {
    position: relative;
    top: 0;
    bottom: 0;
    width: 100dvw;
    height: 240px;
    display: grid;
    place-content: center;
    transition: 0.4s;
    text-shadow: rgb(196, 196, 196) 2px 0 4px;
}


/*/ Tienda /*/
.tiendaPrevLink{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    font-size: 2rem;
    color: rgb(43, 43, 42);
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s;
}

.tiendaPrevLink:hover{
    scale: 1.2;
}
.tiendaRealLink{
    > .aTotienda {
        color:rgb(43, 43, 42) !important;
        font-weight: 600;
        line-height: 40px;
    }
    > aTotienda:hover {
        cursor: pointer;;
    }
}
.fondo-linktienda{
    position: absolute;
    background-image: url('../assets/images/tiendaPrev.jpeg');
    background-position: center;
    background-size: cover;
    width: 100dvw;
    height: 240px;
    filter: blur(6px);
    z-index: -1;
}

.home-link-tienda {
    position: relative;
    top: 0;
    bottom: 0;
    width: 100dvw;
    height: 240px;
    display: grid;
    place-content: center;
    transition: 0.4s;
    text-shadow: rgb(90, 90, 90) 2px 0 4px;
}






/* ---------------- Admin ---------------- */
.links-to-dogs{
    display: grid;
    gap: 20px;
    border: 1px solid white;
    place-content: center;
    padding: 20px;
    border-radius: 10px;
    width: fit-content;
    background-color: rgba(128, 128, 128, 0.62);
    > h2 {
        margin: 0px;
    }
}
.btn-opt {
    width: 100%;
    text-align: start;
    > .btn-opt:hover {
        background-color: red;
    }
}


.spanAnimated{
    display: grid;
    place-content: center;
    margin: 0 !important;
    animation: clickMove 2.5s linear infinite;
    height: 70px;
    width: 70px;
    transform: rotate(20deg);
}

@keyframes clickMove {
    0% {
        transform: translateX(0) translateY(0) rotate(20deg);
        scale: 1;
    }
    40% {
        transform: translateX(-100%) translateY(30%) rotate(20deg);
        scale: 1;
    }
    50% {
        transform: translateX(0%) translateY(0) rotate(20deg);
        scale: 1;
    }
    70% {
        transform: translateX(100%) translateY(-30%) rotate(20deg);
        scale: 1;
    }
    80% {
        transform: translateX(0) translateY(0) rotate(20deg);
        scale: 1;
        color: black;
    }
    90%{
        scale: 1;
        border: 0px solid black;
        color: rgb(220, 220, 220);
    }
    92%{
        border: 1px dashed black;
        border-radius: 50%;
        scale: 0.5;
    }
    95%{
        scale: 1.5;
    }
    100%{
        scale: 1;
    }
}


@keyframes clickMoveH3 {
    0% {
        scale: 1;
    }
    90%{
        scale: 1;
    }
    92%{
        scale: 0.5;
    }
    95%{
        scale: 1.1;
    }
    100%{
        scale: 1;
    }
}