.navbar-container{
    position: fixed !important;
    display: flex;
    justify-content: flex-end;
    z-index: 5;
    padding-right: 50px;
    width: 100%;
}
.navbar-btn-home{
    padding-right: 10px;
    font-size: 1.3rem;
}
.modal-login{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 10dvh;
  left: 9dvw;
  height: max-content;
  width: 80dvw;
  gap: 5px;
  border-radius: 10px;
  border: 1px solid rgb(139, 33, 47);
  background-color: rgba(60, 3, 78, 0.532);
  backdrop-filter: blur(10px);
  
  > input {
    margin: 10px 0px;
    height: 26px;
    max-width: 250px;
    border-radius: 10px;
    background-color: rgb(195, 73, 73);
    padding: 0px 8px;
  }
  > button {
    margin: 10px 0px;
    width: 140px;
    height: 32px;
    line-height: 12px;
  }
  > h3 {
    margin: 0px !important;
    padding: 0px !important;
    max-height: 30px;
  }
  > form {
    display: flex;
    flex-direction: column;
    margin: 30px 0px 10px 0px;
    gap: 40px;
    > div {
      display: flex;
      flex-direction: column;
      gap: 20px;
      >span {
        position: relative;
        > input {
          border-radius: 10px;
          padding: 4px 8px;
          background-color: #8f424268;
        }
      }
    }
  }
}
.login-div-input{
  height: 100px;
  color: white !important;
  > .login-inputs{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.483);
  }
  }

.btn-login-log, .btn-login-cancel {
  height: 40px;
  width: 130px;
  margin: auto;
  transition: 0.4s;
}
.btn-login-log{
  background-color: rgba(4, 2, 17, 0.493)
}
 .btn-login-log:hover {
    background-color: rgb(29, 18, 110);
    letter-spacing: 2px;
    width: 140px;
  }
 .btn-login-cancel:hover {
    background-color: rgb(104, 24, 24);
    letter-spacing: 2px;
    width: 140px;
  }


nav{
    height: 20px;
}
.navbar {
    background-color: #8f4242;
    color: #fff;
    padding: 10px 20px 10px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: top 0.3s; /* Agregamos una transición para suavizar el efecto */
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    height: 50px !important;
    margin: 0px;
    margin-right: 20px;
  }
  
  .navbar-toggle {
    font-size: 1.3rem;
    cursor: pointer;
    display: none;
    padding: 0px 16px 0px 0px;
  }
  
  .navbar-pelu-div {
    display: flex;
    padding-left: 18px;
    > a {
      padding: 0px !important;
      margin: 0px !important; 
    }
  }
  .navbar-pelu-div-links {
    display: flex;
    flex-direction: column;
    margin: 20px 0px 20px 20px;
    height: fit-content !important;
  }

  .navbarToHome{
    max-height: 32px !important;
    width: fit-content !important;
    line-height: 12px !important;
    margin: 0px !important;
  }
  .navbarToHome:hover {
    color: rgb(212, 149, 149);
  }
  .navbarToPelu{
    max-height: 16px !important;
    width: fit-content !important;
    line-height: 12px !important;
    margin: 0px !important;
  }
  .navbarToPelu:hover {
    color: rgb(212, 149, 149);
  }
  .navbar-redes{
    display: flex;
    width: fit-content;
    margin: 5px 0px 0px 16px;
  }
  .mobile-menu {
    display: none;
  }

  .logoLengaLogin {
    border-radius: 50%;
    padding: 20px 0px;
  }
  
  .navbar-toggle2 {
    display: none;
    flex-direction: column;
    margin: auto;
    position: absolute;
    top: 7px;
    left: 2px;
  }
  .navbar-toggle2 span {
    width: 26px;
    height: 3px;
    background-color: white;
    margin-bottom: 5px;
    border-radius: 2px;
    transform-origin: 5px 0px;
    transition: all 0.2s linear;
    z-index: 9;
  }
  
  .navbar-toggle2.open > span {
    transform: rotate(45deg) translate(1px, 0px);
  }
  .navbar-toggle2.open > span:nth-child(2) {
    display: none;
  }
  .navbar-toggle2.open > span:nth-child(3) {
    transform: rotate(-45deg) translate(-4px, 2px);
  }

  /* Media query para mostrar u ocultar elementos según el tamaño de la pantalla */
  @media (max-width: 1200px) {
    .navbar-left {
        > a{
            display: none;
            align-items: center;
        }
    }
    .navbar-right {
      display: none;
      align-items: center;
    }
    .navbar-toggle {
      display: block;
    }
    .mobile-menu {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 38px;
      gap: 10px;
      padding-top: 20px;
      right: 0;
      background-color: #a74b4b;
      width: 100%;
      height: 100dvh;
      transition: transform 0.35s ease-in-out;
      transform: translateX(-150%);
      > a {
        display: flex;
        padding: 6px 10px;
        height: 40px;
        width: 160px;
      }
    }
    .mobile-menu.active {
        display: flex;
        flex-direction: column;
        transform: translateX(0%); /* Muestra el menú moviéndolo hacia la izquierda */
        > a{
            width: fit-content !important;
            color: white;
          }
      }
    .navbar.active .mobile-menu.active a {
        display: flex;
        padding: 0px 10px;
        width: 100%;
        transform: translateX(0%);
    }
    .navbar-toggle2 {
      display: flex; 
    }
  }
