footer {
    height: 90px !important;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100dvw;
    margin: 0px !important;
    background-color: rgba(0, 0, 0, 0.494) !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > .links-redes {
        text-decoration: none;
        > a {
            color: white;
        }
    }
    > p {
        line-height: 16px;
        display: flex;
        justify-content: end;
        align-content: end;
    }
}
.link-to-insta {
    display: flex;
    justify-content: center;
    align-items: center;
}
.link-to-insta:hover{
    color: rgb(215, 214, 214);    
}
.iconsFooter, .spanFooter{
    font-size: 2rem;

}

