.peluqueriaPicture{
    position: relative;
    background-image: url('../../assets/images/peluqueriaMain.jpeg');
    border-image: fill 0 linear-gradient(rgba(0, 0, 0, 0.069), #000000ca);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 240px;
    width: 100dvw;
    > h2 {
        font-family: Lemon;
        color: white;
        letter-spacing: 2px;
        position: absolute;
        height: 100%;
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: end;
    }
}

.container-peluqueria{
    margin-top: 40px;
    margin-bottom: 40px;
    > section {
        > h5 {
            margin: 16px 16px 0px 16px;
            width: 100%;
            text-align: left;
            font-size: 1.5rem;
        }
        > p {
            margin: 42px 16px 30px 16px;
            font-size: 0.8rem;
            text-align: left;
        }
        > ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            width: fit-content;
            margin: auto;
            gap: 6px;
            font-size: 0.8rem;
            > li {
                list-style: "+";
                padding-left: 5px;
            }
        }
    }
}